.bordered{
	border: 0.5px solid grey;
}
.bordered tr, .bordered tr td{
	border: 0.5px solid grey;
	min-width: 40px;
	min-height: 40px;
	height: 40px;
}
.bordered tr td{
  border: 0.5px solid grey;
	text-align: center;
	float: center;
	vertical-align: middle;
	font-size: 20px;
	font-weight: bold;
}

.blink-green {
	color: green;
	animation: blinker 1s linear 5000;
}
.blink-red {
	color: red;
	animation: blinker 1s linear 5000;
}

@keyframes blinker {  
  50% { opacity: 0; }
}

.crossed-vertical {
    background: 
       linear-gradient(to top left,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) calc(50% - 0.8px),
           rgba(0,0,0,1) 50%,
           rgba(0,0,0,0) calc(50% + 0.8px),
           rgba(0,0,0,0) 100%);
       
}
.crossed-horizontal {
    background: 
       linear-gradient(to top left,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) calc(50% - 0.8px),
           rgba(0,0,0,1) 50%,
           rgba(0,0,0,0) calc(50% + 0.8px),
           rgba(0,0,0,0) 100%);
       
}

.crossed-to-left {
    background: 
       linear-gradient(to top left,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) calc(50% - 0.8px),
           rgba(0,0,0,1) 50%,
           rgba(0,0,0,0) calc(50% + 0.8px),
           rgba(0,0,0,0) 100%);
       
}
.crossed-to-right{
	background: linear-gradient(to top right,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) calc(50% - 0.8px),
           rgba(0,0,0,1) 50%,
           rgba(0,0,0,0) calc(50% + 0.8px),
           rgba(0,0,0,0) 100%);
}
